<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  {% if page.title %}
  <title>{{ page.title }} | Ayaka Yorihiro</title>
  {% else %}
  <title>Ayaka Yorihiro - Cornell University</title>
  {% endif %}
  <link rel="icon" href={{ get_url(path="img/favicon.png")}} type="image/png">
  <link href={{ get_url(path="css/main.css")}} type= "text/css" rel = "stylesheet">
</head>

<body>
  <div>
    <h1>Ayaka Yorihiro</h1>
    <p>PhD Student, Computer Science<br>Cornell University</p>
  </div> <!-- End of basic_info -->

  <section>
    <div class="education" id="education">
      <h2>Education</h2>
      {% set schools = get_section(path="education/_index.md") %}
      {% for school in schools.pages | sort(attribute="date") | reverse %}
      <div>
	<h3>{{ school.title }}</h3>
	<div class = "school_list">
	  {% if school.extra.current_degree %}
	  {{ school.extra.current_degree }}<br>
	  {% endif %}
	  {{ school.extra.degree }}<br>
	  Advisor: {{ school.extra.advisor }}
	  </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section>
    <div class="publications" id="publications">
      <h2>Publications</h2>
      {% set pubs = get_section(path="publications/_index.md") %}
      {% for pub in pubs.pages | sort(attribute="date") | reverse %}
    <div>
      <div>
      <b>{{ pub.title }}</b>.
      </div>
      <div class="pub_list">
      {% for author in pub.extra.authors %}
      {% if loop.last %}and {% endif %}
      {%- if author.url != "" -%}<a href="{{ author.url }}">{%- endif -%}
        {%- if author.name == "Ayaka Yorihiro" -%}<b>{%- endif -%}
        {{ author.name }}
        {%- if author.name == "Ayaka Yorihiro" -%}</b>{%- endif -%}
      {%- if author.url != "" -%}</a>{%- endif -%}
      {% if not loop.last %}, {% else %}.{% endif %}
      {% endfor %}<br>
      <i>In {{ pub.extra.publication }} (<a href = "{{ pub.extra.publication_url }}">{{ pub.extra.publication_short }} {{ pub.date | date(format="'%y") }}</a>)</i>b
      </div>
    </div><br>
      {% endfor %}
    </div>
  </section>
  
  <section>
    <div class="teaching" id="teaching">
      <h2>Teaching Experience</h2>
      {% set schools = get_section(path="teaching/_index.md") %}
      {% for school in schools.pages | sort(attribute="date") | reverse %}
      <h3>{{ school.title }}</h3>
      {{ school.content | safe }}
      {% endfor %}
    </div>
  </section>

  <section>
    <div class="awards" id="awards">
      <h2>Honors and Awards</h2>
      <ul>
	<li> 2022: <b>NSF GRFP Honorable Mention</b>
	<li> 2022: <b>Cornell University Outstanding Teaching Award</b>
	<li> 2020: <b>Cornell University Fellowship</b>
	<li> 2020: <b>Lockwood Fellowship</b>, Swarthmore College
      </ul>
    </div>
  </section>

  <section>
    <div class="awards" id="awards">
      <h2>Service</h2>
      <ul>
	<li> TODO: macros?
      </ul>
    </div>
  </section>

  <section>
    <div class="awards" id="awards">
      <h2>Skills and Interests</h2>
      <ul>
	<li>Programming Languages
      </ul>
    </div>
  </section>
  
</section>

</body>

</html>
